@inject NavigationManager Navigation
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager _navManager
@inject HttpClient _client


   
    
<AuthButtons class="AuthButtons">
    <div>
        <NavLink href="authentication/register" Match="NavLinkMatch.All">
            <span class="oi oi-person" aria-hidden="true"></span> Register
        </NavLink>
    </div>

    <div>
        <NavLink href="authentication/login" Match="NavLinkMatch.All">
            <span class="oi oi-account-login" aria-hidden="true"></span> Log In
        </NavLink>
    </div>
</AuthButtons>

@code {
    private void GoToRegister()
    {
    _navManager.NavigateTo("authentication/register");
    }

    private void GoToLogin()
    {
    _navManager.NavigateTo("authentication/login");
    }
}











@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}