@inject NavigationManager Navigation

<head>
    <link rel="stylesheet" href="css/LogDis.css">
</head>



<AuthorizeView>
   @* Authorized shows the information after you have like log in*@
    <Authorized>
        <div>
            <NavLink class="nav-link" href="authentication/profile" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Hello, @context.User.Identity?.Name!
            </NavLink>
        </div>

        <div>
            <NavLink class="nav-link" href="#" @onclick="BeginLogOut" Match="NavLinkMatch.All">
                <span class="oi oi-account-logout" aria-hidden="true"></span> log out
            </NavLink>
        </div>


    </Authorized>
       
    @* While not authorized means that you have not log in and the code inside will be shown when you have not log in. *@
    <NotAuthorized>

        <div class="arrangement">
            <NavLink href="authentication/register" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Register
            </NavLink>
        </div>





        <div>
            <NavLink href="authentication/login" Match="NavLinkMatch.All">
                <span class="oi oi-account-login" aria-hidden="true"></span> log in
            </NavLink>
        </div>

    </NotAuthorized>
</AuthorizeView>










@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}


