@inherits LayoutComponentBase

<div class="page">

    <main>

        <div class="header">

            <div>
                <img class="Logo-size" src="Logo.png">
            </div>

            <div class="tabs">
                <div>
                    <NavMenu/>
                </div>
                
            </div>

            

        </div>
       
        

        @* An article is used to define a self-controlled piece of content that could be used repeatedly*@
        <article class="content px-4">
            @* When a body is called, it would call a url with the "/" which is from the index.razor file*@
            @Body
        </article>


    </main>
</div>
