.page {
    position: relative;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #FF706F 60%, hsl(330, 100%, 53.5%))
}


.header {
    display: flex;
    gap: 130px;
    height: 110px;
}




.Logo-size {
    top: 5px;
    max-width: 410px;
    max-height: 220px;
    margin: auto;
}


.tabs {
    /* When you put position: relative, you would allow the information in this calss to have the access to move around
        and not be at a fixed place. To change the location, you would use top, bottom, left and right as shown below.
    */
    position: relative;
    top: 37px;
}


.main {
    flex: 1;
}



.content {
    /* The padding-top is to create a space between the top ans the code you are using this class for. */
    padding-top: 5px;
    /* The border-top is used to make a visible color line to show the break and show where the bottom start for the padding-top. */
    border-top: 1px solid white;
    color: white;
}
