@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager _navManager
@inject HttpClient _client


@code {
    private string AdminCheck;
    private string UserCheck;

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        AdminCheck = authenticationState.User.IsInRole("Administrator") ? "Admin" : "DefaultPage";
        UserCheck = authenticationState.User.IsInRole("User") ? "User" : "DefaultPage";
    }
}



@if (AdminCheck == "Admin" || UserCheck == "User")
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Food Nutrition </a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">

        <AuthorizeView>
            <Authorized>


                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/profile" Match="NavLinkMatch.All">
                        <span class="oi oi-person" aria-hidden="true"></span> Hello, @context.User.Identity?.Name!
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="#" @onclick="BeginLogOut" Match="NavLinkMatch.All">
                        <span aria-hidden="true"></span> log out
                    </NavLink>
                </div>


            </Authorized>

        </AuthorizeView>



        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Food">
                <span class="oi oi-food" aria-hidden="true"></span> Food
            </NavLink>
        </div>



        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-list-bread" aria-hidden="true"></span> Users
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Subscriptions">
                <span class="oi oi-list-bread" aria-hidden="true"></span> Subscriptions
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Payments">
                <span class="oi oi-list-bread" aria-hidden="true"></span> Payments
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FoodLogs">
                <span class="oi oi-list-bread" aria-hidden="true"></span> FoodLogs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Staffs">
                <span class="oi oi-list-bread" aria-hidden="true"></span> Staffs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MealPlans">
                <span class="oi oi-list-bread" aria-hidden="true"></span> MealPlans
            </NavLink>
        </div>



    </div>



    @code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
    }

}








else if (AdminCheck != "Admin" && UserCheck != "User")
{

    <div class="button-container">
        <button @onclick="GoToRegister">
            <span aria-hidden="true"></span> Register
        </button>

        <button @onclick="GoToLogin">
            <span aria-hidden="true"></span> Log In
        </button>
    </div>

    @code {
    private void GoToRegister()
    {
        _navManager.NavigateTo("authentication/register");

    }

    private void GoToLogin()
    {
        _navManager.NavigateTo("authentication/login");
    }
    }



}


