@page "/"

<link rel="stylesheet" href="css/LogDis.css">

<body>
	<div class="half-page-text">
		Your Ones stop for all your<span class="turquoise-color"> Food</span> & <span class="turquoise-color">Nutrition</span> needs
	</div>

	<div class="FoodPic1">
		<img class="Logo-size" src="Food_Pic_1.png">
	</div>

	<div class="FoodPic2">
		<img class="FoodPic2Size" src="Gym_Pic_1.png">
	</div>

	<div class="FoodPic3">
		<img class="FoodPic3Size" src="Food_Pic_2.png">
	</div>
</body>

